In [1]:
import pandas as pd

In [2]:
file_path = 'E:\code\python\deployAI\ModelAI\data/all_ratings.csv'
# columns_to_read = ['User-ID','Book-Rating','isbn','Location','Age']
all_ratings = pd.read_csv(file_path)
print(all_ratings)

        Unnamed: 0  User-ID  Book-Rating        isbn  \
0                0   276727            0  0446520802
1                1   278418            0  0446520802
2                2      638            0  0446520802
3                3     3363            0  0446520802
4                4     7158           10  0446520802
...            ...      ...          ...         ...
386280      386280   274446            4  0451526023
386281      386281   274839            0  3442133173
386282      386282   275163            7  1569313725
386283      386283   275531            0  1880238136
386284      386284   276647            0  0553571001

                                Location   Age          id  \
0          h, new south wales, australia  16.0  0446520802
1                   omaha, nebraska, usa   NaN  0446520802
2             san diego, california, usa  20.0  0446520802
3              knoxville, tennessee, usa  29.0  0446520802
4                   omaha, nebraska, usa  30.0  0446520802
...                                  ...   ...         ...
386280              cleveland, ohio, usa  22.0  0451526023
386281     zÃ¼rich, zÃ¼rich, switzerland  50.0  3442133173
386282       gaithersburg, maryland, usa   NaN  1569313725
386283        little rock, arkansas, usa   NaN  1880238136
386284  arlington heights, illinois, usa  13.0  0553571001

                                                    title  \
0                                            The Notebook
1                                            The Notebook
2                                            The Notebook
3                                            The Notebook
4                                            The Notebook
...                                                   ...
386280  My Secret Life: An Erotic Diary of Victorian L...
386281  Ich, Prinzessin Aus Dem Hause Al Saud / Ich, P...
386282        Secret Comics Japan: Underground Comics Now
386283                                               Song
386284      Christmas with Anne and Other Holiday Stories

                    authors  \
0           Nicholas Sparks
1           Nicholas Sparks
2           Nicholas Sparks
3           Nicholas Sparks
4           Nicholas Sparks
...                     ...
386280     James R. Kincaid
386281       Jean P. Sasson
386282          Hyoe Narita
386283  Brigit Pegeen Kelly
386284     L. M. Montgomery

                                              description  \
0       A man with a faded, well-worn notebook open in...
1       A man with a faded, well-worn notebook open in...
2       A man with a faded, well-worn notebook open in...
3       A man with a faded, well-worn notebook open in...
4       A man with a faded, well-worn notebook open in...
...                                                   ...
386280  'My Secret Life' is perhaps the most infamous ...
386281  Think of Saudi Arabia and what do you see? Ter...
386282  Selected by a former editor of the acclaimed m...
386283  Winner of the 1994 Lamont Poetry selection of ...
386284  Share Anne's delight at receiving the dress of...

                   book_cover  \
0                   Hardcover
1                   Hardcover
2                   Hardcover
3                   Hardcover
4                   Hardcover
...                       ...
386280              Paperback
386281                    NaN
386282              Paperback
386283              Paperback
386284  Mass Market Paperback

                                                image_url release_date  \
0       https://images.gr-assets.com/books/1307040326m...          NaN
1       https://images.gr-assets.com/books/1307040326m...          NaN
2       https://images.gr-assets.com/books/1307040326m...          NaN
3       https://images.gr-assets.com/books/1307040326m...          NaN
4       https://images.gr-assets.com/books/1307040326m...          NaN
...                                                   ...          ...
386280  https://s.gr-assets.com/assets/nophoto/book/11...          NaN
386281  https://s.gr-assets.com/assets/nophoto/book/11...   2001-01-01
386282  https://s.gr-assets.com/assets/nophoto/book/11...          NaN
386283  https://s.gr-assets.com/assets/nophoto/book/11...          NaN
386284  https://s.gr-assets.com/assets/nophoto/book/11...          NaN

              publisher  number_of_pages  average_rating  number_of_ratings  \
0          Warner Books            214.0            4.07               2243
1          Warner Books            214.0            4.07               2243
2          Warner Books            214.0            4.07               2243
3          Warner Books            214.0            4.07               2243
4          Warner Books            214.0            4.07               2243
...                 ...              ...             ...                ...
386280  Signet Classics            576.0            3.45                242
386281         Goldmann            287.0            4.00                 19
386282          VIZ LLC            198.0            3.60                 62
386283     BOA Editions             90.0            4.32                652
386284         Starfire            224.0            3.86                909

                  categories  new_average_rating  new_number_of_ratings
0                ['Romance']            4.060345                    116
1                ['Romance']            4.060345                    116
2                ['Romance']            4.060345                    116
3                ['Romance']            4.060345                    116
4                ['Romance']            4.060345                    116
...                      ...                 ...                    ...
386280  ['History, Biology']            4.000000                      1
386281  ['History, Biology']            0.000000                      1
386282  ['Comics, Graphics']            7.000000                      1
386283            ['Poetry']            0.000000                      1
386284          ['Children']            0.000000                      1

[386285 rows x 20 columns]

In [5]:
all_ratings = all_ratings.iloc[: , 1:]

In [6]:
all_ratings.dtypes

User-ID                    int64
Book-Rating                int64
isbn                      object
Location                  object
Age                      float64
id                        object
title                     object
authors                   object
description               object
book_cover                object
image_url                 object
release_date              object
publisher                 object
number_of_pages          float64
average_rating           float64
number_of_ratings          int64
categories                object
new_average_rating       float64
new_number_of_ratings      int64
dtype: object

In [7]:
all_ratings.isna().sum()

User-ID                       0
Book-Rating                   0
isbn                          0
Location                      0
Age                      107592
id                            0
title                         0
authors                       0
description                   0
book_cover                69792
image_url                     0
release_date             323817
publisher                     0
number_of_pages           42923
average_rating                0
number_of_ratings             0
categories                    0
new_average_rating            0
new_number_of_ratings         0
dtype: int64

In [ ]:
drop_cols = ['average_rating','number_of_ratings','image_url']

In [14]:
all_ratings = all_ratings.drop(columns=drop_cols)

In [15]:
all_ratings.to_csv('all_ratings.csv',index=False)

In [16]:
all_ratings

,User-ID,Book-Rating,isbn,Location,Age,id,title,authors,description,book_cover,release_date,publisher,number_of_pages,categories,new_average_rating,new_number_of_ratings
0,276727,0,0446520802,"h, new south wales, australia",16.0,0446520802,The Notebook,Nicholas Sparks,"A man with a faded, well-worn notebook open in...",Hardcover,NaN,Warner Books,214.0,['Romance'],4.060345,116
1,278418,0,0446520802,"omaha, nebraska, usa",NaN,0446520802,The Notebook,Nicholas Sparks,"A man with a faded, well-worn notebook open in...",Hardcover,NaN,Warner Books,214.0,['Romance'],4.060345,116
2,638,0,0446520802,"san diego, california, usa",20.0,0446520802,The Notebook,Nicholas Sparks,"A man with a faded, well-worn notebook open in...",Hardcover,NaN,Warner Books,214.0,['Romance'],4.060345,116
3,3363,0,0446520802,"knoxville, tennessee, usa",29.0,0446520802,The Notebook,Nicholas Sparks,"A man with a faded, well-worn notebook open in...",Hardcover,NaN,Warner Books,214.0,['Romance'],4.060345,116
4,7158,10,0446520802,"omaha, nebraska, usa",30.0,0446520802,The Notebook,Nicholas Sparks,"A man with a faded, well-worn notebook open in...",Hardcover,NaN,Warner Books,214.0,['Romance'],4.060345,116
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
386280,274446,4,0451526023,"cleveland, ohio, usa",22.0,0451526023,My Secret Life: An Erotic Diary of Victorian L...,James R. Kincaid,'My Secret Life' is perhaps the most infamous ...,Paperback,NaN,Signet Classics,576.0,"['History, Biology']",4.000000,1
386281,274839,0,3442133173,"zÃ¼rich, zÃ¼rich, switzerland",50.0,3442133173,"Ich, Prinzessin Aus Dem Hause Al Saud / Ich, P...",Jean P. Sasson,Think of Saudi Arabia and what do you see? Ter...,NaN,2001-01-01,Goldmann,287.0,"['History, Biology']",0.000000,1
386282,275163,7,1569313725,"gaithersburg, maryland, usa",NaN,1569313725,Secret Comics Japan: Underground Comics Now,Hyoe Narita,Selected by a former editor of the acclaimed m...,Paperback,NaN,VIZ LLC,198.0,"['Comics, Graphics']",7.000000,1
386283,275531,0,1880238136,"little rock, arkansas, usa",NaN,1880238136,Song,Brigit Pegeen Kelly,Winner of the 1994 Lamont Poetry selection of ...,Paperback,NaN,BOA Editions,90.0,['Poetry'],0.000000,1
386284,276647,0,0553571001,"arlington heights, illinois, usa",13.0,0553571001,Christmas with Anne and Other Holiday Stories,L. M. Montgomery,Share Anne's delight at receiving the dress of...,Mass Market Paperback,NaN,Starfire,224.0,['Children'],0.000000,1

In [ ]:
# all_ratings.to_csv('all_ratings.csv')

In [17]:
all_ratings['Location'].unique()

array(['h, new south wales, australia', 'omaha, nebraska, usa',
       'san diego, california, usa', ..., 'sin city, n/a, singapore',
       'maplewood, missouri, usa', 'rushville, indiana, usa'],
      dtype=object)